<div class="ui-g-">

    <div class="ui-g-12">
        <h1>Book Storage</h1>
    </div>

    <div class="ui-g-12">

        <p-table [value]="books" [paginator]="true" rows="3" [responsive]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th>Title</th>
                    <th class="th-author">Subject</th>
                    <th class="th-author">Author</th>
                    <th class="th-price">Price</th>
                    <th class="th-data">Publishing Date</th>
                    <th>Publisher</th>
                    <th>Publisher Phone</th>
                    <th class="th-email">Publisher E-mail</th>
                </tr>

            </ng-template>

            <ng-template pTemplate="body" let-b>

                <tr>
                    <td>{{ b.title }}</td>
                    <td class="td-author">{{ b.subject }}</td>
                    <td class="td-author">{{ b.author }}</td>
                    <td class="td-price">{{ b.price }}</td>
                    <td class="td-data">{{ b.publishingDate }}</td>
                    <td>{{ b.publisher }}</td>
                    <td>{{ b.prublisherPhone }}</td>
                    <td class="td-email">{{ b.publisherEmail }}</td>
                </tr>

            </ng-template>




        </p-table>


    </div>

</div>