<div class="ui-g">
    <div class="ui-g-12">
        <h1>New Book</h1>

    </div>

    <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Title </label>
        <input type="text" pInputText name="title" />
    </div>

    <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Subject </label>
        <input type="text" pInputText name="subject" />
    </div>

    <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Author </label>
        <input type="text" pInputText name="author" />
    </div>

    <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Price </label>
        <input type="text" pInputText name="price" placeholder="0,00" />
    </div>

    <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Publishing Date </label>
        <p-calendar name="publishing-date"></p-calendar>
    </div>

    <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Publisher </label>
        <input type="text" pInputText name="publisher" />
    </div>

    <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Publishing Phone </label>
        <p-inputMask mask="(99) 99999-9999" name="publishing-email"></p-inputMask>
    </div>

    <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Publishing E-mail </label>
        <input pInputText type="email" validate required>
    </div>



</div>

<div class="ui-g">
    <div class="ui-g-12">
        <button pButton type="submit" label="Save"></button>
    </div>

</div>