<div class="ui-g">

    <div class="ui-g-12">
        <h1>Book Storage</h1>
    </div>

    <div class="ui-g-12">

        <p-table [value]="books" [paginator]="true" rows="3" [responsive]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th class="t-codigo">Code</th>
                    <th class="t-title">Title</th>
                    <th class="th-subject">Subject</th>
                    <th class="th-author">Author</th>
                    <th class="th-price">Price</th>
                    <th class="th-data">Publishing Date</th>
                    <th class="td-align">Publisher</th>
                    <th class="td-author">Phone</th>
                    <th class="th-email">Publisher E-mail</th>
                    <th class="td-author">Action</th>
                </tr>

            </ng-template>

            <ng-template pTemplate="body" let-b>

                <tr>
                    <td class="t-codigo">{{ b.id }}</td>
                    <td class="t-title">{{ b.title }}</td>
                    <td class="td-subject">{{ b.subject }}</td>
                    <td class="td-author">{{ b.author }}</td>
                    <td class="td-price">{{ b.price }}</td>
                    <td class="td-data">{{ b.publishingDate }}</td>
                    <td class="td-align">{{ b.publisher }}</td>
                    <td class="td-subject">{{ b.publisherPhone }}</td>
                    <td class="td-email">{{ b.publisherEmail }}</td>
                    <td class="btn__excluir td-author">
                        <button pButton type="button" label="X" class="ui-button-danger" (click)="excluir(b.id)"></button>
                        <button pButton type="button" label="E" class="ui-button-success"></button>
                    </td>
                    
                </tr>

            </ng-template>

        </p-table>

    </div>

</div>